body {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.75rem;
}
h1 {
    text-align: center;
}
input {
    margin: 15px;
}
div {
    margin-top: 15px;
    margin-bottom: 15px;
}
.click-copy {
    width: fit-content;
    padding: 5px;
    border: 2px solid lightblue;
    border-radius: 10px;
    cursor: pointer;
}
.click-copy:after {
    color: lightgray;
    font-size: 0.7rem;
    content: " click to copy";
}
.display-true {
    display: initial;
}
.display-false {
    display: none;
}
.flex-wrap-center {
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
.flex-wrap-start {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.form-margin {
    margin-left: 10px;
}
.spacer {
    width: 15vw;
}
button {
    position: fixed;
    bottom: 0px;
    right: 0px;
}
button > a {
    color: #ffffff;
}
button:active > a {
    color: #ffffff;
}
