<h1>You have discovered the secret.</h1>

<p>The secret is tacos.</p>

<img src="https://embed.widencdn.net/img/mccormick/wiczihgznz/1365x1365px/Fiesta_Tacos_200.jpg?crop=true&anchor=342,0&q=80&color=ffffffff&u=o2hyef">

<li><a href="/register">Sign Up</a></li>
<li><a href="/login">Log In</a></li>
<li><a href="/logout">Log Out</a></li>
